{% extends 'base.html.twig' %}

{% block title %}{{ grossesses.name }}{% endblock %}

{% block main %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img class="resp" src="{{ asset('uploads/image_product/' ~ grossesses.media) }}" alt="{{ grossesses.name }}">
                </div>
                <div class="col-md-4">
                    <h1 class="bordeaux">{{ grossesses.name }}</h1>
                    <div class="detail">{{ grossesses.price }}€</div>
                    <a href="{{ path('contact') }}" class="btn btn-bordeaux">Me contacter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <h3 class="bordeaux">Description :</h3>
        <p>{{ grossesses.description | nl2br }}</p>{#nl2br = filtre saut de ligne auto, si présent dans le contenu#}
    </div>

{% endblock %}

