{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block main %}
    <div class="container mt-4">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for category in categoryList %}
                    <tr>
                        <td class="align-middle">{{ category.name }}</td>
                        <td>
                            <a href="{{ path('categoryUpdate',{'id':category.id}) }}"><input type="button" class="btn btn-warning" value="Modifier"></a>
                            <a id="delete" href="{{ path('categoryDelete',{'id':category.id}) }}"><input type="button" class="btn btn-danger" value="Supprimer"></a>
                        </td>
                        <tbody>
                            {% for child in category.children %}
                                <tr>
                                    <td class="text-primary pl-5 align-middle">{{ child.name }}</td>
                                    <td>
                                        <a href="{{ path('categoryUpdate',{'id':child.id}) }}"><input type="button" class="btn btn-warning" value="Modifier"></a>
                                        <a id="delete" href="{{ path('categoryDelete',{'id':child.id}) }}"><input type="button" class="btn btn-danger" value="Supprimer"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('categoryInsert') }}"><input type="button" class="btn btn-success" value="Créer une catégorie"></a>
        </div>

{% endblock main %}