{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier une catégories{% endblock %}

{% block main %}

    <div class="container mt-4">
        <h1>Modifier une catégorie</h1>
        {{ form_start(categoryUpdate) }}

        <div class="mb-3">
            <div class="text-danger">
                {{ form_errors(categoryUpdate.name) }}
            </div>
            {{ form_label(categoryUpdate.name, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(categoryUpdate.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            <div class="text-danger">
                {{ form_errors(categoryUpdate.parent) }}
            </div>
            {{ form_label(categoryUpdate.parent, 'Sous catégorie de...', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(categoryUpdate.parent, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(categoryUpdate.isPublished, 'Publier', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(categoryUpdate.isPublished, {'attr': {'class': 'form-check-label'}}) }}
        </div>

        <div class="mb-3">
            {{ form_widget(categoryUpdate.soumettre, {'attr': {'class': 'btn btn-bordeaux'}}) }}
        </div>

        {{ form_end(categoryUpdate) }}
    </div>
{% endblock %}