<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css') }}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">À mon image</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'categories' %}active{% endif %}" aria-current="page" href="{{ path('public/categories/list') }}">Catégories</a>
                    </li>#}
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'faire_part' %}active{% endif %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Faire part
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('public/faire_part/wedding') }}">Mariage</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/faire_part/birth') }}">Naissance</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/faire_part/baptism') }}">Baptême</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Album grossesse
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('album_grossesse_unique') }}">Grossesse unique</a></li>
                            <li><a class="dropdown-item" href="{{ path('album_grossesse_gemellaire') }}">Grossesse gémellaire</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Album naisssance
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('album_naissance_unique') }}">Grossesse unique</a></li>
                            <li><a class="dropdown-item" href="{{ path('album_naissance_gemellaire') }}">Grossesse gémellaire</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Impression photos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Photos 10x15 cm</a></li>
                            <li><a class="dropdown-item" href="#">Poster A3</a></li>
                            <li><a class="dropdown-item" href="#">Boule de Noël</a></li>
                            <li><a class="dropdown-item" href="#">Hexagone</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Support d'entreprise
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Planches tarifaire</a></li>
                            <li><a class="dropdown-item" href="#">Cartes de visite</a></li>
                            <li><a class="dropdown-item" href="#">Annonces publicitaire</a></li>
                            <li><a class="dropdown-item" href="#">Flyers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Cartes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Anniversaire</a></li>
                            <li><a class="dropdown-item" href="#">Babyshower</a></li>
                            <li><a class="dropdown-item" href="#">Noël</a></li>
                            <li><a class="dropdown-item" href="#">Nouvel an</a></li>
                            <li><a class="dropdown-item" href="#">Félicitations</a></li>
                            <li><a class="dropdown-item" href="#">Remerciements</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {# je regarde si des messages flashs ont été ajoutés à la session, si oui je les affiche #}
    {% for message in app.flashes('success') %}
        <div class="text-success">
            {{ message }}
        </div>
    {% endfor %}

    {% block main %}{% endblock main %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
