<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Immortalisez vos souvenirs avec des créations uniques et entièrement personnalisées">
    <meta name="keywords" content="faire-part, album naissance, album grossesse, papeterie, grossesse gémellaire">
    <meta name="author" content="Nicolas Ferchaud">
    <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css') }}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('Assets/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="{{ path('home') }}"><img class="resp rond" src="{{ asset('Assets/images/logo_marjo.jpg') }}" alt="Logo du site"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'faire_part' %}active{% endif %} dropdown-toggle nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Faire part
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('public/faire_part/wedding') }}">Mariage</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/faire_part/birth') }}">Naissance</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/faire_part/baptism') }}">Baptême</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'album_grossesse' %}active{% endif %} dropdown-toggle nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Album grossesse
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('album_grossesse_unique') }}">Grossesse unique</a></li>
                            <li><a class="dropdown-item" href="{{ path('album_grossesse_gemellaire') }}">Grossesse gémellaire</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'album_naissance' %}active{% endif %} dropdown-toggle nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Album naissance
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('album_naissance_unique') }}">Grossesse unique</a></li>
                            <li><a class="dropdown-item" href="{{ path('album_naissance_gemellaire') }}">Grossesse gémellaire</a></li>
                        </ul>
                    </li>
                    {#<li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'impression_photo' %}active{% endif %} dropdown-toggle nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Impression photos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('public/impression_photo/photo') }}">Photos 10x15 cm</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/impression_photo/poster') }}">Poster A3</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/impression_photo/boule') }}">Boule de Noël</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/impression_photo/hexagone') }}">Hexagone</a></li>
                        </ul>
                    </li>#}
                    {#<li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'support_entreprise' %}active{% endif %} dropdown-toggle nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Support d'entreprise
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('public/support_entreprise/planches_tarifaire') }}">Planches tarifaire</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/support_entreprise/carte_de_visite') }}">Cartes de visite</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/support_entreprise/annonces_publicitaire') }}">Annonces publicitaire</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/support_entreprise/flyers') }}">Flyers</a></li>
                        </ul>
                    </li>#}
                    {#<li class="nav-item dropdown">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'cartes' %}active{% endif %} dropdown-toggle nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Cartes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('public/cartes/anniversaire') }}">Anniversaire</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/cartes/babyshower') }}">Babyshower</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/cartes/noel') }}">Noël</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/cartes/nouvel_an') }}">Nouvel an</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/cartes/felicitation') }}">Félicitations</a></li>
                            <li><a class="dropdown-item" href="{{ path('public/cartes/remerciement') }}">Remerciements</a></li>
                        </ul>
                    </li>#}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    {% block main %}{% endblock main %}
</main>

<footer>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand logo d-none d-lg-block" href="{{ path('home') }}"><img class="resp rond" src="{{ asset('Assets/images/logo_marjo.jpg') }}" alt="Logo du site"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav" href="#">CGV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav" href="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav" href="#">Données personnelles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav" href="#">Livraison</a>
                </li>
            </ul>
        </div>
        <div>
            <a target="_blank" class="navbar-brand reseaux" href="https://www.instagram.com/amonimage__/">
                <img class="resp" src="{{ asset('Assets/images/instagram.svg') }}" alt="Logo Instagram">
            </a>
            <a target="_blank" class="navbar-brand reseaux" href="#">
                <img class="resp" src="{{ asset('Assets/images/facebook.svg') }}" alt="Logo Facebook">
            </a>
            <a class="navbar-brand reseaux">
                <img class="resp" src="{{ asset('Assets/images/france.svg') }}" alt="Logo made in France">
            </a>
        </div>
    </nav>
</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>

