{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block main %}

    <div class="container mt-4">
        <h1>Modifier un produit</h1>
        {{ form_start(productUpdate) }}

        <div class="mb-3">
            <div class="text-danger">
                {{ form_errors(productUpdate.name) }}
            </div>
            {{ form_label(productUpdate.name, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(productUpdate.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            <div class="text-danger">
                {{ form_errors(productUpdate.description) }}
            </div>
            {{ form_label(productUpdate.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(productUpdate.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            <div class="text-danger">
                {{ form_errors(productUpdate.price) }}
            </div>
            {{ form_label(productUpdate.price, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(productUpdate.price, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(productUpdate.media, 'Image', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(productUpdate.media, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            <div class="text-danger">
                {{ form_errors(productUpdate.category) }}
            </div>
            {{ form_label(productUpdate.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(productUpdate.category, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_widget(productUpdate.soumettre, {'attr': {'class': 'btn btn-bordeaux'}}) }}
        </div>

        {{ form_end(productUpdate) }}
    </div>

{% endblock main %}