{% extends 'base.html.twig' %}

{% block title %}Support d'entreprise{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="mb-4">Planches tarifaire</h1>
        <div class="row flex">
            {% for support_entreprise in support_entreprise %}{#boucle pour afficher tous les produits du tableau#}
                <div class="col-sm-12 col-lg-6">
                    <div class="card mb-4">
                        {% if support_entreprise.media %}
                            <div>
                                <img class="resp" src="{{ asset('uploads/image_product/' ~ support_entreprise.media) }}" alt="{{ support_entreprise.name }}">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="{{ path('public/support_entreprise/show', {'id':support_entreprise.id}) }}">{{ support_entreprise.name }}</a>
                            </h2>
                            {#
                            <p class="card-text">{{ support_entreprise.description }}</p>
                            #}
                            <div class="text-primary" style="font-weight:bold; font-size: 2rem;">{{ support_entreprise.price }}€</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}